.catalog__list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.catalog__card {
  width: calc(100% / 4);
}

.catalog__card-name {
  font-weight: 500;
  font-size: 24px;
  margin-bottom: 8px;
}

.catalog__card-price {
  font-size: 18px;
  margin-bottom: 12px;
}

.catalog__card-colors {
  color: gray;
  text-align: right;
}